:root {
  --first-text-color: #757575;
  --second-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --border-color: #eeeeee;
}

body {
  font-family: Roboto, sans-serif;
  background-color: FFFFFF;
  color: var(--first-text-color);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  font-weight: 0.03em;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--second-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header__container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header__container {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .header-menu {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-right: 93px;
    padding-top: 25px;
    padding-bottom: 24px;
  }
}

.header-logo-web {
  color: var(--accent-text-color);
}

.footer-logo {
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.footer-logo-web {
  color: var(--accent-text-color);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.icon-menu {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-menu:hover, .icon-menu:focus {
  fill: var(--accent-text-color);
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 98vh;
  padding: 10px 15px 48px 40px;
  background-color: var(--white-text-color);
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.close-menu__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle:hover .close-menu__icon,
.menu-toggle:focus .close-menu__icon {
  fill: var(--accent-text-color);
}

.close-menu {
  position: absolute;
  top: 10px;
  right: 60px;
}

.mob-list__item:not(:last-child),
.mob-contacts__item:not(:last-child) {
  margin-bottom: 25px;
}

@media screen and (min-width: 480px) {
  .mob-list__item:not(:last-child),
  .mob-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-list__link {
  color: var(--second-text-color);
  font-size: 28px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .mob-list__link {
    font-size: 40px;
    line-height: 1.17;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.mob-list__link:hover, .mob-list__link:focus {
  color: var(--accent-text-color);
}

.mob-list__link--current {
  color: var(--accent-text-color);
}

.mob-contacts {
  margin-bottom: 64px;
}

.mob-contacts__link {
  color: var(--first-text-color);
  font-size: 24px;
  line-height: 1.43;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .mob-contacts__link {
    font-size: 34px;
    line-height: 1.17;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.mob-contacts__link:hover, .mob-contacts__link:focus {
  color: var(--accent-text-color);
}

.mob-socials {
  display: flex;
}

.mob-socials__item:not(:last-child) {
  margin-right: 20px;
}

.mob-socials__link {
  color: var(--accent-text-color);
  font-size: 12px;
  line-height: 1.22;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 480px) {
  .mob-socials__link {
    font-size: 18px;
    line-height: 1.22;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.mob-socials__link--after::after {
  content: '';
  width: 0;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  transform: rotate(90deg);
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

.nav-list__item {
  position: relative;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__item .nav-list__link---current::after {
  content: '';
  position: absolute;
  display: flex;
  width: 100%;
  top: 76px;
  bottom: calc(0% - 1px);
  border: 2px solid;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}

.nav-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-size: 14px;
  line-height: 1.15;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-text-color);
}

.nav-list__link---current {
  color: var(--accent-text-color);
}

/*---------------- Site nav contacts ----------------*/
@media screen and (min-width: 768px) {
  .contacts-list {
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts-list__link {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-text-color);
}

@media screen and (min-width: 1200px) {
  .contacts-list__link {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.contacts-list__icon {
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  padding: 200px 0px;
  text-align: center;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mob.jpg);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mob@2x.jpg);
  }
}

@media screen and (min-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-tab.jpg);
  }
}

@media screen and (min-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tab@2x.jpg);
  }
}

@media screen and (min-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-deck.jpg);
  }
}

@media screen and (min-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-deck@2x.jpg);
  }
}

.hero__title {
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 32px;
  min-width: 200px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
  align-items: center;
  text-align: center;
  border: 0;
  border-radius: 4px;
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
}

@media screen and (min-width: 768px) {
  .ability {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.ability__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .ability__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .ability__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.ability__box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #f5f4fa;
  border-radius: 4px;
}

.ability__box:not(:last-child) {
  margin-bottom: 30px;
}

.ability__title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 0.03em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 1199px) {
  .ability__title {
    text-align: center;
  }
}

.ability__text {
  font-size: 14px;
  line-height: 1.71;
  font-weight: 0.03em;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

.section__other-background {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .section__other-background {
    display: none;
  }
}

.work-list {
  display: flex;
}

.work-list__item {
  position: relative;
}

.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.work-list__label-overlay {
  position: absolute;
  width: 100%;
  min-height: 70px;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}

.work-list__label-text {
  padding: 27px 0;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 0.03em;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--white-text-color);
}

.company-members {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .members {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.members__item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .members__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .members__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .members__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.members__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member__title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-text-color);
}

.member__text {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 0.03em;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--first-text-color);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-text-color);
}

.socials__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--white-text-color);
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  height: 92px;
  margin: 15px;
  flex-basis: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    margin: 15px;
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-text-color);
}

.clients__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-text-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    align-items: baseline;
    display: flex;
  }
}

.footer-address-socials {
  flex-grow: 1;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-address-socials {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address-socials {
    align-items: baseline;
    display: flex;
  }
}

.address {
  display: block;
  font-style: normal;
  color: var(--white-text-color);
}

@media screen and (max-width: 1199px) {
  .address-logo {
    text-align: center;
  }
}

.address-item {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 0.03em;
  letter-spacing: 0.02em;
  color: var(--white-text-color);
  font-style: normal;
}

.address-contacts-item {
  margin-top: 9px;
}

.address-contacts-link {
  font-size: 14px;
  line-height: 1.74;
  font-weight: 0.03em;
  letter-spacing: 0.02em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-contacts-link:hover, .address-contacts-link:focus {
  color: var(--accent-text-color);
}

@media screen and (max-width: 767px) {
  .footer-socials {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-socials {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-left: 70px;
  }
}

.footer-socials-list {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .footer-socials-list {
    justify-content: center;
  }
}

.footer-socials-title {
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 0.03em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-socials__item {
  width: 44px;
  height: 44px;
  margin-top: 20px;
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: var(--accent-text-color);
}

.footer-socials__icon {
  fill: var(--white-text-color);
}

.email {
  display: block;
}

@media screen and (max-width: 1199px) {
  .email {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .email {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .email {
    margin-left: 93px;
  }
}

.email-title {
  align-items: center;
  font-size: 14px;
  line-height: 1.15;
  font-weight: 0.03em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.email-form {
  align-items: baseline;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .email-form {
    align-items: center;
    flex-direction: column;
  }
}

.email-input {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 0.03em;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  color: var(--first-text-color);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (min-width: 450px) {
  .email-input {
    width: 358px;
  }
}

.btn-submit {
  display: flex;
  align-content: center;
  padding: 10px 28px;
  min-width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: left;
  border: 0;
  border-radius: 4px;
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
}

@media screen and (max-width: 1199px) {
  .btn-submit {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-submit {
    margin-left: 12px;
  }
}

.btn-send-icon {
  margin-left: 10px;
  fill: var(--white-text-color);
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.portfolio-item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover, .portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  display: block;
}

.text-conteiner {
  padding: 20px 24px;
  background: #ffffff;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  font-weight: 0.06em;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.portfolio-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 0.03em;
  letter-spacing: 0.02em;
  background: rgba(33, 150, 243, 0.9);
  color: var(--white-text-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover .portfolio-overlay-text,
.portfolio-item-link:focus .portfolio-overlay-text {
  transform: translateY(0);
}

.filter-list {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .filter-list {
    margin-bottom: 50px;
    justify-content: center;
  }
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.filter-button {
  padding: 6px 22px;
  border: 0;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-weight: bold;
  text-align: center;
  color: var(--second-text-color);
  cursor: pointer;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  display: block;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .backdrop {
    overflow-y: scroll;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  min-width: 250px;
  min-height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-button {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: unset;
  border-radius: 50%;
  cursor: pointer;
}

.modal-button:hover .btn-icon,
.modal-button:focus .btn-icon {
  fill: var(--accent-text-color);
}

.close-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field:nth-child(6) {
  margin-top: 0;
  margin-bottom: 0;
}

.modal-form-field:nth-child(5) {
  margin-bottom: 20px;
}

.modal-form-field:focus-within {
  color: var(--accent-text-color);
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
}

.input-wrap {
  display: block;
  position: relative;
}

.modal-form-imput {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-imput:focus + .modal-form-icon, .modal-form-imput:focus {
  outline: none;
  border-color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.modal-form-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 0.01em;
  letter-spacing: 0.02em;
}

.modal-comment:focus {
  outline: none;
  border-color: var(--accent-text-color);
}

.modal-check-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-text {
  color: var(--accent-text-color);
}

.icon-check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #000000;
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .modal-check-label > .icon-check {
  background: var(--accent-text-color);
  border: transparent;
}

.form-btn {
  display: block;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 10px 55px;
  min-width: 200px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 0.06em;
  letter-spacing: 0.02em;
  border: 0;
  border-radius: 4px;
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=main.css.map */