.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;

  top: 0;

  background: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms, visibility 250ms;

  @media screen and (min-width: 480px) and (max-width: 768px) {
    overflow-y: scroll;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 480px) {
    min-width: 450px;
    min-height: 609px;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-button {
  position: absolute;
  width: 30px;
  height: 30px;

  right: 8px;
  top: 8px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: unset;
  border-radius: 50%;
  cursor: pointer;

  &:hover .btn-icon,
  &:focus .btn-icon {
    fill: var(--accent-text-color);
  }
}

.close-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  display: block;

  margin-bottom: 12px;

  @include font(20px, 1.15, 700, 0.03em);

  text-align: center;

  color: var(--second-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;

  padding: 40px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form-field {
  margin-bottom: 10px;

  &:nth-child(6) {
    margin-top: 0;
    margin-bottom: 0;
  }

  &:nth-child(5) {
    margin-bottom: 20px;
  }

  &:focus-within {
    color: var(--accent-text-color);
  }
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
}

.input-wrap {
  display: block;
  position: relative;
}

.modal-form-imput {
  padding-left: 42px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus + .modal-form-icon,
  &:focus {
    outline: none;
    border-color: var(--accent-text-color);
    fill: var(--accent-text-color);
  }
}

.modal-form-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  display: block;
  width: 100%;
  height: 120px;

  padding-top: 12px;
  padding-left: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    @include font(12px, 1.17, 0.01em);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-text-color);
  }
}

.modal-check-label {
  @include center;
}

.check-text {
  color: var(--accent-text-color);
}

.icon-check {
  @include center;

  width: 15px;
  height: 15px;

  margin-right: 7px;

  border: 2px solid #000000;
  border-radius: 4px;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  &:checked + .modal-check-label > .icon-check {
    background: var(--accent-text-color);
    border: transparent;
  }
}

.form-btn {
  @include center(block);
  align-self: center;
  padding: 10px 55px;
  min-width: 200px;

  margin-top: 30px;

  @include font(16px, 1.87, 0.06em);

  border: 0;
  border-radius: 4px;
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
