body {
  font-family: Roboto, sans-serif;
  background-color: FFFFFF;
  color: var(--first-text-color);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}
