.portfolio {
  // margin: 15px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio-item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.portfolio-item-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    display: block;
  }
}

.text-conteiner {
  padding: 20px 24px;

  background: #ffffff;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.portfolio-title {
  @include font(18px, 2, 0.06em);

  color: var(--second-text-color);
}

.portfolio-text {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--first-text-color);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;

  height: 100%;

  @include font(18px, 1.56, 0.03em);

  background: rgba(33, 150, 243, 0.9);
  color: var(--white-text-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio-item-link:hover &,
  .portfolio-item-link:focus & {
    transform: translateY(0);
  }
}
